@charset "utf-8";

.top-menu {
    width: 70%;
    height: 10vh;
    margin: auto;
}

.log-container {
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    height: 80vh;
    margin: auto;
}

#log-detail{
    /* background-color: gray; */
    height: 100%;
}